@page {
    size: A4;
    margin: 1cm;
}

@media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }

    img, .card {
        page-break-inside: avoid;
    }  
    .img-fluid{
        display: none;
    }
    body>*:not(main) {
        display: none;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: "(" attr(href) ")";
    }
}